@charset "utf-8";
/* CSS Document */

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #E3E3E6;
	margin:0;

	}

#contenedor {
	width:960px;
	height:auto;
	margin-left:auto;
	margin-right:auto;

	
	}

header {
	height:60px;
	}

h1 {
	margin:0 0 0 40px;
	font-size:36px;
	color: #d9d9d9;
	
	}
#botonera{
	width: 400px;
	height: 70px;
	float: right;
	margin-right: 0px;
	margin-top: -15px;
}
#botonera ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}
#botonera ul li{
	display: inline;
}
#botonera ul li a{
	display: inline-block;
	width: 90px;
	height: 60px;
	line-height: 50px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
}
#botonera ul li a:hover{
	background-color: #ffff66 ;
	border-radius: 10px;
}

a {
	color:#000000;
	text-decoration:none;
	}
.ajuste_img{
		width: 100%;
	}





input{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

h2 {
	color:#666;}

#prime_botonera{
	background-color:#000000;
	padding:40px;
	border-left: 20px solid #333;  /* Border left es la pequeña marquita que se le hace al footer a la izquierda*/

	}

footer a {
	color:#FFF;
	font-weight:bold;}
